body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: #464646;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #242424;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #222222;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }

    table th,
    table td {
        font-size: 14px;
        padding: 8px;
    }

    table {
        margin-top: 10px;
    }

    h1,
    h2 {
        font-size: 20px;
    }

    a {
        font-size: 14px;
    }
}
